.flex-container {
	background-color: bisque;
}

.box1 {
	background-color: yellow;
	/* position: absolute; */
	width: 200px;
	height: 200px;
	text-align: center;
	display: inline-flex;
	flex-direction: row;
}

.box2 {
	background-color: red;
	/* position: absolute; */
	width: 200px;
	height: 200px;
	text-align: center;
	display: inline-flex;
	flex-direction: row;
}

.box3 {
	background-color: blue;
	/* position: absolute; */
	width: 200px;
	height: 200px;
	text-align: center;
	display: inline-flex;
	flex-direction: row;
	/* flex-wrap: wrap; */
}
